<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Challenge CH3 Binar</title>
    <!-- 👇 css code file 👇 -->
    <link rel="stylesheet" href="./css/style.css" type="text/css"/>
    <link rel="icon" href="./../public/images/icon.ico" />
    <!-- bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!-- font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
    <!-- main page -->
    <div class="main">
        <nav class="navbar navbar-expand-lg shadow-5-strong h-30 bg-dark navbar-dark opacity-75" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand px-5" href="#">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse px-5 mx-5" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item px-3">
                            <a class="nav-link active" aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">ABOUT ME</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item px-3">
                            <a class="nav-link active" aria-current="page" href="#">SIGN UP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">LOGIN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main-content d-flex flex-column justify-content-center align-items-center">
            <h1 class="h1-main fw-bold py-5">PLAY TRADITIONAL GAME</h1>
            <h4>Experience new traditional game play</h4>
            <a href="/suit" ><button type="button" class="btn btn-warning btn-lg px-5 fw-bold my-5" >PLAY NOW</button></a>
        </div>
        <div class="scroll-main d-flex flex-column justify-content-center align-items-center">
            <p class="m-0 pt-3">THE STORY</p>
            <img src="./../images/scroll-down.svg" class="mt-0" />
        </div>
    </div>
    <!-- the games page -->
    <div class="games">
        <div class="games-text">
            <h6>What's so special?</h6>
            <h2>THE GAMES</h2>
        </div>
        <div class="games-img">
            <img class="switch-img" src="./../images/switch-left.svg" />
            <img class="main-img" src="./../images/rockpaperstrategy-1600.jpg" />
            <img class="switch-img" src="./../images/switch-right.svg" />
            <div class="ellipse-img">
                <img class="ellipse" src="./../images/ellipse.svg" />
                <img class="ellipse" src="./../images/ellipse-outline.svg" />
                <img class="ellipse" src="./../images/ellipse-outline.svg" />
                <img class="ellipse" src="./../images/ellipse-outline.svg" />
            </div>
        </div>
    </div>

    <!-- features page -->
    <div class="features">
        <div class="features-content container text-center">
            <div class="row">
                <div class="col-sm-7"></div>
                <div class="col-sm-4 text-start">
                    <h6>What's so special?</h6>
                    <h2>THE FEATURES</h2>
                    <div class="row pt-5">
                        <div class="col-1">
                            <img src="./../images/ellipse.svg" />
                        </div>
                        <div class="col text-warning">
                            <h3>TRADITIONAL GAME</h3>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-sm-1"></div>
                        <div class="col">
                            <p>If you miss your childhood, we provide many traditional games here</p>
                        </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-1">
                            <img src="./../images/ellipse-outline.svg" />
                        </div>
                        <div class="col text-warning">
                            <h3>GAME SUIT</h3>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-1">
                            <img src="./../images/ellipse-outline.svg" />
                        </div>
                        <div class="col text-warning">
                            <h3>TBD</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- system req page -->
    <div class="sys-req text-center" style="padding-top: 10%;">
        <p>can My computer run this game?</p>
        <div class="container text-center">
            <div class="row mt-5">
                <div class="col-sm-6 text-start w-3" />
                <h1>SYSTEM REQUIREMENTS</h1>
                <div class="row mt-5">
                    <div class="col  border border-light">
                        <h3 class="text-warning">OS:</h3>
                        <h5>Windows 7 64-bit only (No OSX support at this time)</h5>
                    </div>
                    <div class="col  border border-light">
                        <h3 class="text-warning">PROCESSOR:</h3>
                        <h5>Intel Core Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-light">
                        <h3 class="text-warning">MEMORY:</h3>
                        <h5>4 GB RAM</h5>
                    </div>
                    <div class="col border border-light">
                        <h3 class="text-warning">STORAGE:</h3>
                        <h5>8 GB Available Space</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col border border-light">
                        <h3 class="text-warning">GRAPHICS:</h3>
                        <h5>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>

    <!-- top score page -->
    <div class="top-score d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <div class="row align-items-center">
                <div class="col-md-5 text-start w-3" />
                <h1 class="mb-4">TOP SCORES</h1>
                <h5 class="mb-4">This top score from various games provided on this platform</h5>
                <button type="button" class="btn btn-warning px-4">see more</button>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col">
                        <div class="float card bg-dark mb-5">
                            <div class="row text-start">
                                <div class="col-3">
                                    <img class="border rounded-circle w-50 mt-2" src="./../public/images/evan-lahti.jpg" />
                                </div>
                                <div class="col-8 text-start">
                                    <h5 class="text-warning mt-2">Evan Lahti</h5>
                                    <p class="text-secondary">PC Gamer</p>
                                </div>
                                <p>"One of my gaming highlights of the year."</p>
                                <p class="text-secondary">June 18, 2021</p>
                            </div>
                        </div>
                        <div class="card bg-dark mb-5">
                            <div class="row text-start">
                                <div class="col-3">
                                    <img class="border rounded-circle w-50 mt-2" src="./../public/images/jada-griffin.jpg" />
                                </div>
                                <div class="col-8 text-start">
                                    <h5 class="text-warning mt-2">jada Griffin</h5>
                                    <p class="text-secondary">Nerdreactor</p>
                                </div>
                                <p>The next big thing in the world of streaming and survival games."</p>
                                <p class="text-secondary">July 10, 2021</p>
                            </div>
                        </div>
                        <div class="float card bg-dark mb-5">
                            <div class="row text-start">
                                <div class="col-3">
                                    <img class="border rounded-circle w-50 mt-2" src="./../public/images/aaron-williams.jpg" />
                                </div>
                                <div class="col-8 text-start">
                                    <h5 class="text-warning mt-2">Aaron Williams</h5>
                                    <p class="text-secondary">Uproxx</p>
                                </div>
                                <p>"Snoop Dogg Playing The Wildly entertaining 'SOS' Is Ridiculous"</p>
                                <p class="text-secondary">December 24, 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- newsletter page -->
    <div class="newsletter d-flex justify-content-center align-items-center">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-6 my-auto">
                    <img src="./../public/images/skull.png" style="height: 80%;" />
                </div>
                <div class="col-sm-6 text-start my-auto">
                    <h6>Want to stay in touch?</h6>
                    <h2>NEWSLETTER SUBSCRIBE</h2>
                    <p>In order to start receiving our news, all you have to do is enter your email address. Everything
                        else will be taken care of by us. We will send you emails containing information about game. We
                        don't spam.</p>
                    <div class="row">
                        <div class="col-7 card bg-dark mb-2">
                            <p class="text-secondary mb-1">Your email address</p>
                            <h5 class="text-warning">youremail@binar.co.id</h5>
                        </div>
                        <div class="col-5">
                            <button type="button" class="btn btn-warning fw-bold"
                                style="width: 100%; height: 90%;">Subscribe now</button>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-dark bg-transparent d-flex flex-wrap justify-content-end pt-5 mt-5">
                <a class="nav-link px-4" href="#">MAIN</a>
                <a class="nav-link px-4" href="#">ABOUT</a>
                <a class="nav-link px-4" href="#">GAME FEATURES</a>
                <a class="nav-link px-4" href="#">SYSTEM REQUIREMENTS</a>
                <a class="nav-link px-4" href="#">QUOTES</a>
                <a class="nav-link px-4" href="#">
                    <img src="./../public/images/facebook.svg" />
                </a>
                <a class="nav-link px-4" href="#">
                    <img src="./../public/images/twitter.svg" />
                </a>
                <a class="nav-link px-4" href="#">
                    <img src="./../public/images/vector.svg" />
                </a>
                <a class="nav-link px-4" href="#">
                    <img src="./../public/images/twitch.svg" />
                </a>
            </nav>
            <hr>
            <div class="d-flex flex-wrap justify-content-between">
                <p class="text-secondary">© 2018 Your Games, Inc. All Rights Reserved</p>
                <p>PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT</p>
            </div>
        </div>
    </div>
    </div>

    <!-- bootstrap link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>


</html>