body {
    background-color: #9C835F;
    height: 100vh;
    font-family: sans-serif;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.backToHome {
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 300px;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #16a085;
}